@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
.mytemperature-conversion-table span{
    font-size: 50px;
    font-family: 'Caprasimo', cursive;
    text-shadow: 1px 1px 8px pink;
}
.mytemperature-conversion-table {
    background: linear-gradient(rgb(218, 218, 143),pink);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.design-for-table {
    margin: 10px auto;
    font-size: 30px;
    border: 1px solid gray;
    box-shadow: 1px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.enter-a-text-section input {
    margin-top: 10px;
    width: 60%;
    height: 30px;
}
.submit-btnbtn-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-btnbtn-section button {
    width: 60%;
    font-size: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.submit-btnbtn-section button:hover {
    background-color: gray;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(157, 152, 152);
    color: white;
}